# Ignore Mac system files
.DS_store

# Ignore folder
__pycache__
.venv
.pytest_cache
.benchmarks
.obsidian
models
# embedding
logs
rag
raw/**/
!raw/rewrite/

# Ignore key files
.env

# Ignore .vscode folder
.code-workspace

